* {
    box-sizing:border-box;
    font-family:$heading-font;
}

body {
    background-color:$primary-color;
    margin:0;
    font-size:$body-font-size;
}

.container {
    max-width:1080px;
    width:90%;
    height:100%;
    margin:0 auto;
}
