/* ==========================================================================
   Materialize variables
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Colors
 *  2. Buttons
 *  3. Grid
 *  4. Photo Slider
 *  5. Typography
 *  6. Footer
 */

$white-color: #fff;
$black-color: #000;

$primary-color: #D6CCC3 !default;
$primary-color-light: red !default;
$primary-color-dark: red !default;

$secondary-color: red !default;

$link-color: red !default;

$accent-color: #DEA287 !default;
