@import url('https://fonts.googleapis.com/css?family=Lato');

/*
 * Table of Contents:
 *
 *  1. Colors
 *  2. Buttons
 *  3. Grid
 *  4. Photo Slider
 *  5. Typography
 *  6. Footer
 */

/* --- Colors --- */
$white-color: #fff;
$black-color: #000;

$primary-color: #D6CCC3 !default;
$primary-color-light: red !default;
$primary-color-dark: red !default;

$secondary-color: red !default;

$link-color: red !default;

$accent-color: #DEA287 !default;

/* --- Typography --- */

$heading-font: "Lato";
$body-font-size: 18px;

//For making objects pop off the page
$z-depth: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
