body {
    color:$body-font-color;
    font-size:$body-font-size;
}

footer {
    color:$footer-font-color;
}

#services, #video, #map {
    h2 {
        font-size:32px;
    }
}

h1, h2, h3 {
    margin-top:0;
    display:inline-block;
    &:after {
        content:"";
        width:50px;
        height:5px;
        background-color:$accent-color;
        display:block;
        margin-top:.5em;
    }
    &.centered {
        &:after {
            content:"";
            width:50px;
            height:5px;
            background-color:$accent-color;
            display:block;
            margin:.5em auto 0;
        }
    }
}
